*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
    background-image: url("assets/img.jfif");
    background-size: cover;
}

#main{
    justify-items: center;
}

#header{
    margin-bottom: 50px;
    width:50%;
    border-radius: 15px;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding:10px ;
}

#card{
    width:30%;
    border-radius: 15px;
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    padding:10px;
}


#input{
    display: flex;
    justify-content: center;
    padding:30px 50px;
    column-gap: 15px;
}

#input input{
    border-radius: 10px;
    text-align: center;
    padding: 0px 15px;
    background-color: aliceblue;
}

.search{
    width:50px;
    height:50px;
    background-image: url("assets/search.jpg");
    background-size: cover;
    border-radius: 50px;
    padding: 10px 15px;
}

.weather-info{
    width:50%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px 10px;
}
